<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @workshop.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @workshop.mobile %>
</p>

<p>
  <strong>College:</strong>
  <%= @workshop.college %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @workshop.gender %>
</p>

<p>
  <strong>Department:</strong>
  <%= @workshop.department %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
