<!-- <p id="notice"><%= notice %></p> -->

     <div class="service-sec bg-content">
          <div class="container"> 
            <div class="service-grids">
            <% @events.each do |event| %>
              <div class="col-md-3 service-grid">           
                  <a href="javascript:void(0)"> <%= image_tag "#{event.image}", alter: event.title %> </a>
                  <div class="tour-caption">
                  <p>
                    <b>Contact</b> <br>
                    <%= event.contact1 %> | <%= event.contact2 %></p>
                  </div>
                  <h4><%= event.title %></h4>
                  <p class="sg"><%= event.description %></p>
                  <%= link_to 'Read More', event_path(event), class: "btn btn-1" %>
             </div>
             <% end %>

           </div>
           
         </div>
        </div>
          