<!-- <p id="notice"><%= notice %></p> -->

     <div class="service-sec bg-content">
          <div class="container"> 
             <!-- <h3>Our Services</h3>
            <p class="ser">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
            making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose injected humour and the like.</p> -->
            <div class="service-grids">
            <% @events.each do |event| %>
              <div class="col-md-3 service-grid">           
                  <a href="javascript:void(0)"> <%= image_tag "#{event.image}", alter: event.title %> </a>
                  <div class="tour-caption">
                  <p>
                    <b>Contact</b> <br>
                    <%= event.contact1 %> | <%= event.contact2 %></p>
                  </div>
                  <h4><%= event.title %></h4>
                  <p class="sg"><%= event.description %></p>
                  <%= link_to 'Read More', event_path(event), class: "btn btn-1" %>
             </div>
             <% end %>

              <!-- <div class="col-md-3 service-grid">              
                  <a href="#"><img src="images/s2.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p>In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service2</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>               
              </div>
              <div class="col-md-3 service-grid">              
                  <a href="#"><img src="images/s3.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p>In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service3</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>               
              </div>
              <div class="col-md-3 service-grid">             
                  <a href="#"><img src="images/s4.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p >In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service4</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>               
              </div>
              <div class="col-md-3 service-grid">             
                  <a href="#"><img src="images/s4.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p >In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service4</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>           
              </div>
              <div class="col-md-3 service-grid">             
                  <a href="#"><img src="images/s4.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p >In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service4</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>               
              </div>
              <div class="clearfix"></div>
           </div> 
           
           <div class="service-grids2">
              <div class="col-md-3 service-grid">              
                  <a href="#"><img src="images/s5.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p>In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service1</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>               
              </div>
              <div class="col-md-3 service-grid">              
                  <a href="#"><img src="images/s6.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p>In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service2</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>              
              </div>
              <div class="col-md-3 service-grid">              
                  <a href="#"><img src="images/s7.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p>In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service3</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>              
              </div>
              <div class="col-md-3 service-grid">              
                  <a href="#"><img src="images/s8.jpg" alt=""/></a>
                  <div class="tour-caption">
                  <p>In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus.</p>
                  </div>
                  <h4>Service4</h4>
                  <p class="sg">In sit amet dapibus libero. Phasellus nec bibendum dui Sed fermentum finibus purus. Ut dignissim risus eget magna efficitur sagittis.</p>
                  <a href="#" class="btn btn-1">Read More</a>               
              </div>
              <div class="clearfix"></div>
            -->
           </div>
           
         </div>
        </div>
          
  


    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.rules %></td>
        <td><%= event.contact1 %></td>
        <td><%= event.contact2 %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
